aiofiles==24.1.0
annotated-types==0.7.0
numpy==2.2.6
pandas==2.2.3
pydantic==2.11.5
pydantic_core==2.33.2
python-dateutil==2.9.0.post0
pytz==2025.2
six==1.17.0
typing-inspection==0.4.1
typing_extensions==4.14.0
tzdata==2025.2
langchain 
wikipedia 
langchain-community 
langchain-openai
langchain-anthropic
python-dotenv
pydantic
duckduckgo-search